* {
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
}

body {
  margin: 0;
}

/* CSS related to map loading error */

.google-error {
  text-align: center;
  vertical-align: middle;
  line-height: 100vh;
  font-size: 1.5em;
}

/* CSS related to map */

#map {
  height: 100%;
}

/* CSS related to infowindow */

.infowindow-scroll {
  line-height: 1.35;
  max-height: 300px;
  max-width: 300px;
  overflow: hidden;
  overflow-x: scroll;
  overflow-y: scroll;
}

h3 {
  color: purple;
  font-family: "Comic Sans MS";
}

.btn-modal-image {
  margin: 5px;
  padding: 5px;
  border-radius: 5%;
}

/* CSS related to search container */

.search-container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.hamburger-menu {
  float: left;
}

.form-control {
  /*width: 100%;*/
  padding: 5px;
  border: 2px solid purple;
  border-radius: 5%;
}

.list {
  background-color: rgba(256, 256, 256, 0.8);
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  max-height: 70vh;
  overflow: hidden;
  overflow-y: scroll;
}

li {
  text-align: center;
  margin: 0 0 10px 0;
  color: purple;
  font-family: "Comic Sans MS";
}

li:hover {
    background-color: rgba(200, 200, 200, 1);
}

/* CSS related to modal */

.modal {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3;
  display: none;
}

.modal-container {
  max-width: 500px;
  min-width: 500px;
  max-height: 400px;
  height: 400px;
  width: 40%;
  margin: 8% auto;
  border-radius: 5%;
  background-color: rgba(200, 200, 200, 0.8);
  opacity: 1.0;
  z-index: 0;
}

.btn-exit-modal {
  margin-left: 94%;
  width: 45px;
}

.modal-image-container {
  height: 300px;
  text-align: center;
}

.modal-image-container .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.modal-image-container img {
  margin: auto;
  max-height: 300px;
  vertical-align: middle;
}

.btn-scroll img {
  width: 45px;
}

.arrow-left {
  float: left;
}

.arrow-right {
  float: right;
}
