* {
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  position: relative;
}

body.modal-open .modal {
    display: flex;
    height: 100%;
}

body.modal-open .modal .modal-dialog {
    margin: auto;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

#map {
  height: 100%;
}

#list {
  position: absolute;
  top: 40px;
  left: 10px;
  z-index: 99;
}
