* {
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

#main {
  height: 100%;
  position: relative;
}

#map {
  height: 100%;
}

#list {
  position: absolute;
  top: 40px;
  left: 10px;
  z-index: 99;
}
